@{
    ViewData["Title"] = "Home Page";
}
<section class="home" id="home">
<div class="night">
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
</div>

<div class="home-content">
    <h1><span>HOLA!</span></h1>
    <h2>Explore the limitless possibilities of AI-driven image editing with ArtifyGen and unleash your creativity.</h2>
    <div>
        <a href="/ImageGen/Index" class="btn">Get Started</a>
    </div>

</div>
    </section>
<section class="about" id="about" style="margin-bottom: 190px;">
    <h1 class="heading">Generate Image With <span>AI </span><i class='bx bx-cog'></i></h1>
    <h3>
        ArtifyGen, where the power of artificial intelligence meets your creative vision,
        Our platform empowers users to transform their images effortlessly. Simply upload your existing image and articulate your desired edits through text input , Our advanced AI algorithms analyze your instructions and apply precise enhancements.
    </h3>
    <div>
        <a href="/ImageGen/Index" class="btn">Get Started</a>
    </div>
</section>